<h2 class="page-header">Trip Room</h2>
<form (submit)="searchTrips()">
    <div class="form-group">
        <label>Destination</label><br>
        <select [(ngModel)]="destination" name="destination" class="form-control">
            <option value="All Destination">All Destination</option>
            <option value="Austria">Austria</option>
            <option value="Italy">Italy</option>
            <option value="Belgium">Belgium</option>
            <option value="Latvia">Latvia</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Croatia">Croatia</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Malta">Malta</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Denmark">Denmark</option>
            <option value="Poland">Poland</option>
            <option value="Estonia">Estonia</option>
            <option value="Portugal">Portugal</option>
            <option value="Finland">Finland</option>
            <option value="Romania">Romania</option>
            <option value="France">France</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Germany">Germany</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Greece">Greece</option>
            <option value="Spain">Spain</option>
            <option value="Hungary">Hungary</option>
            <option value="Sweden">Sweden</option>
            <option value="Ireland">Ireland</option>
            <option value="United Kingdom">United Kingdom</option>
        </select>

        <div class="buttonHolder">
        <button type="button" class="btn btn-default" [routerLinkActive]="['active']" [routerLinkActiveOptions] (click)="searchTrips()">Search</button>
        <button type="button" class="btn btn-default" [routerLinkActive]="['active']" [routerLinkActiveOptions] [routerLink]="['/createTrip']">Create Trip</button>
        </div>
    </div>
</form>

<div class="trips">
    <div class="trip" *ngFor="let trip of trips; let i = index">
        <h6>Destination: </h6>
        <p>{{trip.destination}}</p>
        <h6>Date: </h6>
        <p>{{trip.date}} </p>
        <h6>Trip Name: </h6>
        <p>{{trip.tripName}} </p>
        <h6>Description: </h6>
        <p>{{trip.description}} </p>
        <button type="button" class="btn btn-default" onclick="joinTrip()">Join Trip</button>

    </div>
</div>
