

<h2 class="page-header">Trip Room</h2>


<form (submit)="searchTrips()">
    <div class="form-group">
        <label>Destination</label><br>
        <select [(ngModel)]="destination" name="destination" class="form-control">
            <option value="All Destination">All Destination</option>
            <option value="Austria">Austria</option>
            <option value="Italy">Italy</option>
            <option value="Belgium">Belgium</option>
            <option value="Latvia">Latvia</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Croatia">Croatia</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Malta">Malta</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Denmark">Denmark</option>
            <option value="Poland">Poland</option>
            <option value="Estonia">Estonia</option>
            <option value="Portugal">Portugal</option>
            <option value="Finland">Finland</option>
            <option value="Romania">Romania</option>
            <option value="France">France</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Germany">Germany</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Greece">Greece</option>
            <option value="Spain">Spain</option>
            <option value="Hungary">Hungary</option>
            <option value="Sweden">Sweden</option>
            <option value="Ireland">Ireland</option>
            <option value="United Kingdom">United Kingdom</option>
        </select>

        <div class="buttonHolder">
        <button type="button" class="btn btn-default" [routerLinkActive]="['active']" [routerLinkActiveOptions] (click)="searchTrips()">Search</button>
        <button type="button" class="btn btn-default" [routerLinkActive]="['active']" [routerLinkActiveOptions] [routerLink]="['/createTrip']">Create Trip</button>
        </div>
    </div>
</form>

<div class="trips">
    <div class="container">
        <div class="trip" *ngFor="let trip of trips; let i = index">
            <div class="container-fluid" >
                <div class="row">
                    <div class="description">
                        Destination:
                    </div>
                    <div class="content">
                        {{trip.destination}}
                    </div>
                </div>
                <div class="row" style="overflow-wrap:break-word;">
                    <div class="description">
                        Date:
                    </div>
                    <div class="content">
                        {{trip.date}}
                    </div>
                </div>
                <div class="row">
                    <div class="description">
                        Trip Name:
                    </div>
                    <div class="bigcontent">
                        {{trip.tripName}}
                    </div>
                </div>
                <div class="row">
                    <div class="description">
                        Description:
                    </div>
                    <div class="bigcontent">
                        {{trip.description}}
                    </div>
                </div>

                <modal #modal>
                    <modal-header [show-close]="true">
                        <h2 class="modal-title">{{trip.tripName}}</h2>
                    </modal-header>
                    <modal-body>

                        <div class="container-fluid">

                            <div> Destination {{trip.destination}}, Date</div>

                            <div class="row">
                                <div class="col-md-10">
                                    <div class="chatbox" id="chatbox">

                                    </div>
                                    <input type="text" placeholder="Type a message" id="messageBox" style="width:90%;">
                                    <button type="button" class="btn btn-default" id="sendButton" (click)="sendMessage()">Send</button>
                                </div>
                                <div class="col-md-2" >members and host
                                    <button type="button" class="host">Host : {{trip.host}}
                                    </button>
                                        <div class="members"> Members :
                                            <div  *ngFor="let member of trip.members; let i = index">
                                                <button type="button" class="members">
                                                    {{member}}
                                                </button>
                                            </div>
                                            </div>
                                        </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-10">
                                        <div>Description : {{trip.description}}</div>
                                    </div>

                                </div>

                            </div>
                    </modal-body>
                    <modal-footer>
                        <button type="button" class="btn btn-primary" [routerLinkActive]="['active']" [routerLinkActiveOptions] (click)="joinTrip(trip)">Join</button>
                    </modal-footer>                </modal>
            <span style="display: inline;">
        <button type="button" class="btn btn-default" (click)="modal.open('lg')">View Information</button>
        <button type="button" class="btn btn-default" (click)="joinTrip(trip)">Join Trip</button>
        </span>



    </div>
</div>
    </div>
</div>