.trip {

  width:300px;
  hieght:400px;
  background-color: #d1f2eb;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;

}



.rating {
  background-color:  #5dade2 ;
  border-radius: 50%;
  text-align: center;

  font-family: cursive;
  height: 50px;
  width: 50px;
  float: right;
}
