<h2 class="page-header">Name of a Trip</h2>

<div> Destination, Date</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">chat</div>
    <div class="col-md-4">memebers and host
      <div class="host">Host</div>
      <div class="members"> Members</div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-10">
      <div>Description</div>
    </div>

    <div class="col-md-2">
      <div class="joinButton">
        <button type="button" class="btn btn-default" [routerLinkActive]="['active']" [routerLinkActiveOptions] (click)="searchTrips()">Join</button>
      </div>
    </div>


  </div>

</div>
