<h2 class="page-header">Name of a Trip</h2>


<div class="container">

  <div> Destination {{trip.destination}}, Date</div>

  <div class="row">
    <div class="col-md-8">
      <div class="container">chat</div>
    </div>
    <div class="col-md-4" >members and host
      <div class="host">Host
      <div class="members"> Members
        <div  *ngFor="let member of trip.members; let i = index">
          <div>
            {{member}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-10">
      <div>Description</div>
    </div>

    <div class="col-md-2">
      <div class="joinButton">
        <button type="button" class="btn btn-default" [routerLinkActive]="['active']" [routerLinkActiveOptions] (click)="searchTrips()">Join</button>
      </div>
    </div>


  </div>

</div>
